* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeIn 2s ease-in-out;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.light-off, .light-on {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.light-off {
    background-color: grey;
    box-shadow: 0 0 10px grey;
}

.light-on {
    background-color: yellow;
    box-shadow: 0 0 30px yellow;
}

.btn {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.ligar {
    background-color: #4CAF50;
    color: white;
}

.ligar:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.desligar {
    background-color: #f44336;
    color: white;
}

.desligar:hover {
    background-color: #e53935;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
